<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hindbyte.redfun"
    android:versionCode="1"
    android:versionName="1.0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:enabled="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        tools:ignore="InnerclassSeparator">

        <activity
            android:name="com.hindbyte.redfun.activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:hardwareAccelerated="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.hindbyte.redfun.activity.WebActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>

        <activity
            android:name="com.hindbyte.redfun.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>


        <activity
            android:name="com.hindbyte.redfun.activity.AccountActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true">
        </activity>


        <activity
            android:name="com.hindbyte.redfun.activity.PassbookActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>

        <activity
            android:name="com.hindbyte.redfun.activity.MatchesActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>

        <activity
            android:name="com.hindbyte.redfun.activity.WinnersActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>

        <activity
            android:name="com.hindbyte.redfun.activity.RoomsActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>

        <activity
            android:name="com.hindbyte.redfun.activity.RoomActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>

        <activity
            android:name="com.hindbyte.redfun.activity.MakeTeamActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>


        <activity
            android:name="com.hindbyte.redfun.activity.EditMyTeamActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>

        <activity
            android:name="com.hindbyte.redfun.activity.MyTeamsActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>


        <activity
            android:name="com.hindbyte.redfun.activity.TeamsActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>


        <activity
            android:name="com.hindbyte.redfun.activity.TeamPointsActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>


        <activity
            android:name="com.hindbyte.redfun.activity.PlayerActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>

        <activity
            android:name="com.hindbyte.redfun.activity.CheckoutActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>

        <activity
            android:name="com.hindbyte.redfun.activity.PayoutActivity"
            android:launchMode="singleTask"
            android:theme="@style/BrowserActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"/>

    </application>

</manifest>